.contact {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $primary;
    color: #fff;

    form {
        // background-color: lightcoral;
        display: flex;
        flex-direction: column;
        width: 45vw;

        h1 {
            font-family: Montserrat, sans-serif;
            font-weight: bolder;
            font-size: 3.5rem;
        }

        h3 {
            font-weight: normal;
            margin: 3rem 0 1rem;
        }

        input[type=text],
        input[type=email],
        textarea {
            border: none;
            outline: none;
            font-size: 1.6rem;
            padding: 1rem 1.5rem;
            background: #003c5a;
            color: #fff;
            border-radius: 5px;
            font-family: Muli, sans-serif;
            margin: .8rem 0;
        }

        textarea {
            resize: none;
        }

        button {
            border: none;
            outline: none;
            width: 16rem;
            color: #fff;
            font-size: 1.6rem;
            font-family: Muli, sans-serif;
            padding: 1.2rem 4rem;
            border-radius: 3px;
        }
    }

    .social__info {
        // background: lightcyan;

        .contact_btn {
            padding: 2rem 5vw;
            border-radius: 5px;
            border: 2px solid #fff;
            margin: 2vh 0;
            text-align: center;
            white-space: nowrap;

            a {
                color: #fff;
            }

            .phone_icon {
                transform: rotateY(180deg);
                margin-right: 25px;
                color: #333;

            }
        }

        .social__links {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-top: 5vh;

            h2 {
                margin-bottom: 3rem;
                font-size: 2.5rem;
                font-weight: 100;
            }

            .icons {
                display: flex;
                list-style: none;

                li {
                    margin-left: 45px;

                    a {
                        color: #333;

                        .icon {
                            position: relative;
                            z-index: 1;
                            font-size: 2rem;

                        }
                    }
                }
            }
        }
    }
}

.icon {
    position: relative;
    font-size: 2rem;

    &::after {
        content: "";
        width: 45px;
        height: 45px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -10;
        border-radius: 50%;
    }
}


@media screen and (max-width: 1568px) {}

@media screen and (max-width: 1268px) {}

@media screen and (max-width: 1068px) {}

@media screen and (max-width: 968px) {
    .contact {
        flex-direction: column;
        height: fit-content;
        padding: 5rem 0;

        form {
            margin-bottom: 5rem;
            width: 75vw;
        }

        .social__info {
            padding-bottom: 10rem;

            .social__links {
                align-items: center;

                .icons {
                    li {
                        margin: 0 2.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 488px) {}

@media screen and (max-height:568px) {
    .contact {
        height: fit-content;
    }
}