.portfolio {
    height: 100vh;
    color: #fff;
    background-color: #002639;
    padding: 10rem 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-family: Montserrat, sans-serif;
        font-size: 4.5rem;
        font-weight: bolder;
        margin-bottom: 2rem;

    }

    .subtitle {
        letter-spacing: .5rem;
    }


    .tabs {
        display: flex;
        list-style: none;
        justify-content: center;
        margin: 3rem 0;

        li {
            font-size: 2rem;
            font-weight: bold;
            padding: 0 3vw;
            text-align: center;
            border-bottom: 3px solid rgba(250, 250, 250, 0.87);

            &.active {
                border-color: $secondary;
            }
        }
    }

    &__cards {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .card {
            margin: 0 1.5vw;
            background-color: $primary;
            height: 32rem;
            width: 25vw;
            border-radius: 5px;
            overflow: hidden;

            &__image {
                overflow: hidden;
                height: 25rem;

                img {
                    object-fit: cover;
                    // height: 100%;
                    height: 100%;
                    width: 100%;

                }
            }

            &__info {
                padding: 1rem 2rem;

                h5 {
                    font-size: 1.3rem;
                    font-weight: normal;
                    color: rgba(255, 255, 255, 0.788);
                }
            }
        }
    }

    button {
        margin: 3rem 0;
    }
}

@media screen and (max-width: 1568px) {}

@media screen and (max-width: 1268px) {}

@media screen and (max-width: 1068px) {}

@media screen and (max-width: 968px) {
    .portfolio {
        height: fit-content;

        &__cards {
            flex-direction: column;
            align-items: center;

            .card {
                margin: 1.5vw 0;
                width: 70vw;
            }
        }
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 488px) {}


@media screen and (max-height:568px) {
    .portfolio {
        height: fit-content;
    }
}